{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body{
  background-color: #EEE;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

h1{
  color: #888;
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  margin-bottom: 16px;
  transition: 0.4s;
}

.search-box input{
  display: block;
  appearance: none;
  outline: none;
  border: none;
  padding: 16px;
  width: 100%;
  transition:0.4s;
}

.search-box:focus-within{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .2);
  transform: translateY(-5px);
}

.non-video-results {
  width:50%;
  float: left;
  padding: 10px;
}

.video-results {
  width:50%;
  height: 100%;
  float: right;
  padding: 10px;
}

.result{
  width: 75%;
  margin: auto;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 16px;
  transition: 0.4s;
}

.result:hover{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .2);
}

.result h3{
  color:#888;
  font-size: 28px;
  margin-bottom: 16px;
}

.result p{
  color: 313131px;
  font-size: 18px;
  /* change margin-bottom if needed */
  margin-bottom: 0px; 
}

.wiki-results a{
  display: inline-block;
  padding: 12px 16px;
  background-color: #EEE;
  color:#888;
  font-weight: 700;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.4s;
}

.wiki-results a:hover{
  background-color: rgb(255, 236, 127);
}


.video-container {
  border: 3px solid #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.videos {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* padding: 12.5px; */
  /* width: 100%;
  height: 100%;
  float: left;
  border: 2px; */
}

.video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  /* border: 0; */
}